<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">

        <button @click="created">data</button>
        <h1>{{message}}</h1>
        <div>
            <input type="text" maxlength="1" placeholder="1 or 0" v-model="sign">
            <input type="text" maxlength="8" placeholder="8 bits" v-model="exponent">
            <input type="text" maxlength="23"placeholder="23 bits" v-model="mantissa">
        </div>
        <button @click="convert">convert</button>
    </div>
    <script src="app.js"></script>
</body>

</html>