<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
    <!-- <div id="app"> -->
    <!-- <div>
            <input type="text" maxlength="1" placeholder="1 or 0" v-model="sign">
            <input type="text" maxlength="8" placeholder="8 bits" v-model="exponent">
            <input type="text" maxlength="23"placeholder="23 bits" v-model="mantissa">
            <h1>{{m}}</h1>
        </div>
        <button @click="convert">convert</button> -->
    <div id="app">
        <div  class="container">
            <h1>converter</h1>
            <!-- <h2>Converta valores para diversos tipos de moedas.</h2> -->
            <div class="imersao-dev">
                <p>{{sign}} {{exponent}} {{mantissa}}</p>
                <span>{{m}}</span>
            </div>

            <p>sign</p>
            <input id="valor" type="text" maxlength="1" placeholder="1 or 0" v-model="sign">

            <p>exponent</p>
            <input id="valor" type="text" maxlength="8" placeholder="8 bits" v-model="exponent">


            <p>mantissa</p>
            <input type="text" maxlength="23" placeholder="23 bits" v-model="mantissa">


            <div class="converter">
                <p @click="convert">Convert!</p>
            </div>

            <div class="valor-final">
                <span id="valor-final"></span>
            </div>
        </div>




    </div>
    <script src="app.js"></script>
</body>

</html>